In [ ]:
my_variable = 32432

In [ ]:
type(my_variable)

In [ ]:
type(32432 / 3)

In [ ]:
type("here's my string")
my_string = "lakdjreow390q43q09uf 032q3qe jflaj )#@($#@)( )"

In [ ]:
my_string[1:10]

In [ ]:
"""allows
me
to use
multiple lines
in my
string
"""

In [ ]:
my_list = ["some string", my_string, 2034983209, my_variable]

In [ ]:
my_list.append("a new string")
phone_number = "19999999999"
my_list.append(phone_number)

In [ ]:
my_list[-1][1:4] = 845
my_list[-1] = "1845999999"

In [ ]:
my_list[1] = phone_number
my_list

In [ ]:
my_tuple = ("some string", my_string, 20349853209, my_variable)

In [ ]:
my_tuple.append(phone_number)

In [ ]:
my_tuple[1] = phone_number

In [ ]:
my_tuple = (
    "some string",
    phone_number,
    20349853209,
    my_variable,
    "some string",
    phone_number,
)

In [ ]:
set(my_tuple)

In [ ]:
num_list = [2, 34, 90, 2, 3, 5, 1, 634, 643, 23, 90]
set(num_list)

[] -> list: mutable & iterable
() -> tuple: immutable & iterable
{} -> dictionary (dict): mutable & iterable

In [ ]:
my_dict = {"key": "value"}

In [ ]:
my_dict["key"]

In [ ]:
my_dict = {"name": {"first_name": "John", "last_name": "Droescher"}}

In [ ]:
my_dict["name"]["last_name"]

In [ ]:
len(range(50))

# for letter in my_string:
#     print(letter)
#     print(letter * 2)
#     print(letter.upper())

In [ ]:
# Define base variables
bal = 10000
deposit = 22500

ret_age = 50
cur_age = 21

# Run loop for each year
for year in range(ret_age - cur_age):
    bal = bal + deposit

# Output the results
print(bal)

In [ ]:
acct_bal = 0
deposit = 22500
cur_age = 22
ret_age = 67
salary = 60000
matching = 0

for year in range(cur_age, ret_age):
    acct_bal = acct_bal + deposit

acct_bal

In [ ]:
%%timeit
acct_bal = 0
deposit = 22500
cur_age = 22
ret_age = 67
salary = 60000
matching = salary * 0.05

for year in range(cur_age, ret_age):
    acct_bal = acct_bal + deposit + matching

In [ ]:
acct_bal = int(input("What is your current account balance? "))
deposit = int(input("How much will you contribute every year? "))
cur_age = 22
ret_age = 67

salary = 60000
rf_rate = 0.025
match_rate = 0.05
matching = 0

for year in range(cur_age, ret_age):
    salary *= 1 + rf_rate
    matching = salary * match_rate
    acct_bal += deposit + matching

acct_bal

1358662.1033034741

In [ ]:
salary = 60000
acct_bal = 0

while salary < 100000:
    salary *= 1 + rf_rate
    matching = salary * match_rate
    acct_bal += deposit + matching

print(salary)

100774.91107785924

Homework:
1) Convert variables to dynamic inputs
2) Add investment returns (assume 14% annual return) to both loops
3) For While loop  
    3a) estimate desired retirement balance  
    3b) calculate what age you can retire at

In [ ]:
acct_bal = int(input("What is your current account balance? "))
deposit = int(input("How much will you contribute every year? "))
cur_age = 22
ret_age = 67

salary = 60000
rf_rate = 0.025
match_rate = 0.05
matching = 0

for year in range(cur_age, ret_age):
    salary *= 1 + rf_rate
    matching = salary * match_rate
    acct_bal += deposit + matching

acct_bal

1273162.1033034744

In [ ]:
def interest_calc(
    cur_age: int,
    salaries: list = [65000],
    rf_rate: float = 0.025,
    match_rate=0.05,
    acct_bal=5000,
    deposits: list = [22500],
    ret_age=67,
):
    for inp_salary in salaries:
        for deposit in deposits:
            for year in range(cur_age, ret_age):
                salary = inp_salary * (1 + rf_rate)
                matching = salary * match_rate
                acct_bal += deposit + matching

            print(inp_salary, deposit, int(acct_bal))

In [ ]:
results = interest_calc(22)

In [ ]:
print(results)

1289050.6119120973

In [ ]:
savings_deposits = [15000, 20000, 22500]
salary_list = [65000, 70000]

interest_calc(22, salaries=salary_list)

65000 22500 1167406
70000 22500 2341343

In [ ]:
acct_bal = float(input("What is your current account balance? "))
deposit = float(input("How much will you contribute every year? "))
cur_age = int(input("What is your current age? "))
ret_age = int(input("At what age do you plan to retire? "))
salary = float(input("What is your current salary? "))
rf_rate = float(input("Annual salary increase rate (as a decimal, e.g., 0.025 for 2.5%): "))
match_rate = float(input("Employer matching rate (as a decimal, e.g., 0.05 for 5%): "))

In [ ]:
annual_return = 0.14  # 14% annual return
for year in range(cur_age, ret_age):
    salary *= 1 + rf_rate
    matching = salary * match_rate
    acct_bal += deposit + matching
    acct_bal += acct_bal * annual_return

In [ ]:
desired_retirement_balance = float(input("Enter your desired retirement balance: "))
age = cur_age
while acct_bal < desired_retirement_balance and age < ret_age:
    salary *= 1 + rf_rate
    matching = salary * match_rate
    acct_bal += deposit + matching
    acct_bal += acct_bal * annual_return
    age += 1

In [ ]:
desired_retirement_balance = float(input("Enter your desired retirement balance: "))
age = cur_age
while acct_bal < desired_retirement_balance and age < ret_age:
    salary *= 1 + rf_rate
    matching = salary * match_rate
    acct_bal += deposit + matching
    acct_bal += acct_bal * annual_return
    age += 1

print("You can retire at age", age)